<!doctype html>
<html>
  <head>
    <title>Form</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/style.css" />
    <script type="text/javascript" src="/public/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/public/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/public/js/fontawesome-all.min.js"></script>
    <script type="text/javascript" src="/public/js/elements/formelement.js"></script>
    <script type="text/javascript" src="/public/js/elements/singleline.js"></script>
    <script type="text/javascript" src="/public/js/elements/multiline.js"></script>
    <script type="text/javascript" src="/public/js/elements/dropdown.js"></script>
    <script type="text/javascript" src="/public/js/elements/checkbox.js"></script>
    <script type="text/javascript" src="/public/js/elements/radio.js"></script>
    <script type="text/javascript" src="/public/js/elements/repeater.js"></script>
    <script type="text/javascript" src="/public/js/elements/pagebreak.js"></script>
    <script type="text/javascript" src="/public/js/elements/title.js"></script>
    <script type="text/javascript" src="/public/js/load.js"></script>
    <script type="text/javascript" src="/public/js/ui/formui.js"></script>
    <script type="text/javascript" src="/public/js/ui/index.js"></script>
  </head>
  <body>
    <div class="formui-app" formui="{{ id }}"></div>
  </body>
</html>