<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
<script type="text/javascript" src="{{ path }}/public/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{{ path }}/public/js/lodash.min.js"></script>
<script type="text/javascript" src="{{ path }}/public/js/fontawesome-all.min.js"></script>
<script type="text/javascript" src="{{ path }}/public/js/tabulator.min.js"></script>
<script type="text/javascript" src="{{ path }}/public/js/xlsx.full.min.js"></script>
<script type="text/javascript" src="{{ path }}/public/js/jspdf.min.js"></script>
<script type="text/javascript" src="{{ path }}/public/js/jspdf.plugin.autotable.min.js"></script>
<script type="text/javascript" src="{{ path }}/public/js/control/responses.js?v4"></script>
<link rel="stylesheet" href="{{ path }}/public/css/style.css?v4" />
<link rel="stylesheet" href="{{ path }}/public/css/tabulator.min.css" />
<div class="formcontrol-app" formbuilder="{{ id }}" formpath="{{ path }}" authkey="kinlossadmin">
  <div class="formcontrol-manage">
    <div class="formcontrol-header">
      <div class="formcontrol-title">Form Responses</div>
      <div class="formcontrol-description">{{ title }}</div>
    </div>
    
    {% include 'response_table.html' %}

    <input type="hidden" class="form_title" value="{{ title }}" />
    {% if combine %}
      <a class="csv-button formbuilder-button" onclick="location.href = location.href.replace('&combine', '')">Separate options</a>
    {% else %}
      <a class="csv-button formbuilder-button" onclick="location.href = location.href + '&combine'">Combine options</a>
    {% endif %}
    <a class="csv-button formbuilder-button" onclick="download_excel()">Excel (Visible)</a>
    <a class="csv-button formbuilder-button" onclick="download_excel_all()">Excel (All)</a>

    <div class="formcontrol-metrics">
      <div class="metric-add-title">Metrics</div>
      {% for m in metrics %}
      <i onclick="deleteMetric({{ loop.index0 }})" class="formcontrol-metrics-delete fas fa-times"></i> {{ m.name }}: {{ m.value }}<br />
      {% endfor %}
      <br />
      <div class="metric-add-form">
        <input class="metric-name" placeholder="[Enter a Label]" />
        <br />
        <select class="metric-type">
          <option>[Select a Type]</option>
          <option value="0">Count</option>
          <option value="1">Sum</option>
        </select>
        <br />
        <select class="metric-column">
          <option>[Select a Column]</option>
          {% for h in headers %}
          <option value="{{ h }}">{{ h }}</option>
          {% endfor %}  
        </select>
        <br />
        <input class="metric-matches" placeholder="[Enter a Value, blank for Any]" />
        <br />
        <a class="metric-button formbuilder-button">Add Metric</a>
      </div>
    </div>
  </div>
</div>
