<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
<script type="text/javascript" src="/public/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/public/js/fontawesome-all.min.js"></script>
<script type="text/javascript" src="/public/js/control/index.js"></script>
<link rel="stylesheet" href="/public/css/style.css" />
<div class="formcontrol-app">
  <div class="formbuilder-save">
    <a class="formbuilder-button" href="/">Back</a>
  </div>
  <div class="formcontrol-manage">
    <div class="formcontrol-header">
      <div class="formcontrol-title">Form Responses</div>
      <div class="formcontrol-description">{{ title }}</div>
    </div>
    <table class="formcontrol-responses" border="1">
      <thead>
          {% for h in headers %}
          <th>{{ h }}</th>
          {% endfor %}  
      </thead>
      <tbody>
          {% for r in rows %}
            <tr>
              {% for cell in r.standard %}
              <td rowspan="{{ cell[1] }}">{{ cell[0] }}</td>
              {% endfor %}
            </tr>
            {% for column in r.repeats %}
              <tr>
                {% for cell in column %}
                  <td>{{ cell }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
          {% endfor %}  
      </tbody>
    </table>
  </div>
</div>