<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
<link rel="stylesheet" href="{{ path }}/public/css/jquery-ui.min.css" />
<link rel="stylesheet" href="{{ path }}/public/css/style.css" />
<script type="text/javascript" defer src="{{ path }}/public/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" defer src="{{ path }}/public/js/jquery-ui.min.js"></script>
<script type="text/javascript" defer src="{{ path }}/public/js/jquery-ui-timepicker-addon.min.js"></script>
<script type="text/javascript" defer src="{{ path }}/public/js/lodash.min.js"></script>
<script type="text/javascript" defer src="{{ path }}/public/js/moment.min.js"></script>
<script type="text/javascript" defer src="{{ path }}/public/js/fontawesome-all.min.js"></script>
<script type="text/javascript" defer src="{{ path }}/public/js/elements/formelement.js?v3"></script>
<script type="text/javascript" defer src="{{ path }}/public/js/elements/singleline.js?v3"></script>
<script type="text/javascript" defer src="{{ path }}/public/js/elements/multiline.js?v3"></script>
<script type="text/javascript" defer src="{{ path }}/public/js/elements/dropdown.js?v3"></script>
<script type="text/javascript" defer src="{{ path }}/public/js/elements/checkbox.js?v3"></script>
<script type="text/javascript" defer src="{{ path }}/public/js/elements/radio.js?v3"></script>
<script type="text/javascript" defer src="{{ path }}/public/js/elements/repeater.js?v3"></script>
<script type="text/javascript" defer src="{{ path }}/public/js/elements/pagebreak.js?v3"></script>
<script type="text/javascript" defer src="{{ path }}/public/js/elements/title.js?v3"></script>
<script type="text/javascript" defer src="{{ path }}/public/js/elements/fileupload.js?v3"></script>
<script type="text/javascript" defer src="{{ path }}/public/js/builder/elementlist.js?v3"></script>
<script type="text/javascript" defer src="{{ path }}/public/js/builder/settings.js?v3"></script>
<script type="text/javascript" defer src="{{ path }}/public/js/builder/validate.js?v3"></script>
<script type="text/javascript" defer src="{{ path }}/public/js/builder/save.js?v3"></script>
<script type="text/javascript" defer src="{{ path }}/public/js/load.js?v3"></script>
<script type="text/javascript" defer src="{{ path }}/public/js/builder/payment.js?v3"></script>
<script type="text/javascript" defer src="{{ path }}/public/js/builder/formbuilder.js?v3"></script>
<script type="text/javascript" defer src="{{ path }}/public/js/builder/structure.js?v3"></script>
<script type="text/javascript" defer src="{{ path }}/public/js/builder/index.js?v3"></script>
<div class="formbuilder-app" formbuilder="{{ id }}" formpath="{{ path }}" formreturn="{{ return_url }}" authkey="kinlossadmin"></div>